<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/> --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar">
        <ul class="justify-content-start d-flex">
            <li class="nav-item"><a class="" href="/">Home</a></li>
            <li class="nav-item"><a class="" href="/dashboard">Dashboard</a></li>
            {{#if loggedIn}}
            <li class="nav-item"><button id="logout" class="btn-no-style">logout</button></li>
            {{else}}
            <li class="nav-item"><a class="" href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>

    <div>
        <header class="jumbotron">
            <h1>
              <a href="/">The Tech Blog</a>
            </h1>
        </header>    

        <main>
            {{{ body }}}
        </main>

        <footer class="footer">
            Thanks for visiting!
        </footer>

    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> --}}
</body>

</html>